# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/
ym-library-back/

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
README.md
*.md

